<div class="container">

    <div class="container">
  
      <div class="row">
        <div class="col-lg-6 mt-5" align="center">
          <img src="\assets\logo.jpg" width="70%">
        </div>
  
        <div class="col-lg-6 mt-5" *ngFor="let paragraph of AboutPage">
          <div class="center">
            <h1 align="center">{{paragraph.Title}}</h1>
          </div>
          <div class="center">
            <h3 align="left">{{paragraph.Description}}</h3>
          </div>
          <div class="center">
            <h3 align="left">{{paragraph.Description1}}</h3>
          </div>
          <div class="center">
            <h3 align="left">{{paragraph.Description2}}</h3>
          </div>
          <div class="center">
            <h3 align="left">{{paragraph.Description3}}</h3>
          </div>
          
  
        </div>
      </div>
  
    </div>
