<div class="container-fluid">

  <nav class="navbar navbar-expand-lg color-primary">

    <a class="navbar-brand" href="#"><img src="\assets\logo.jpg"> Divyakshi Pvt. Ltd</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="example-spacer"></span>
    <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo01">

      <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#About">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#SERVICE" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            SERVICE
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#VIDEOGRAPHY">VIDEOGRAPHY</a></li>
            <li><a class="dropdown-item" href="#Photography">Photography</a></li>
            <li><a class="dropdown-item" href="#Designing">Designing</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Contact">Contact</a>
        </li>
      </ul>
    </div>

  </nav>
</div>

<div class="banner text-center">
  <h1 class="midHeading ">HIRE PROFESSIONAL </h1><br><br>
  
  <P class="head">PHOTOGRAPHER VIDEOGRAPHER DESIGNER</P><br><br>
 
  <button type="button"  class="btn btn-outline-primary me-5" (click)="openDialog()">Book Now</button>
  <button type="button" class="btn btn-outline-danger" (click)="openDialogJobFrom()">Join Us</button>
</div>



<div id="About">
  <app-about></app-about>
</div>
<div id="SERVICE"> 
  <app-service></app-service>
</div>
<div id="Contact">
  <app-contact></app-contact>
</div>
<div class="link">
  <a href="https://www.youtube.com/channel/UC5QS7RIYET-6IyZiz2a1NIA" style="color: red;"><i class="fa-brands fa-youtube me-4"></i></a>
  <a href="https://www.instagram.com/divyakshi651/" style="color:#d62976;"><i class="fab fa-instagram me-4"></i></a>
  <a href="https://www.facebook.com/profile.php?id=100090272478981" style="color: #3b5998;"><i class="fab fa-facebook me-4"
      style="transform: rotate(+90deg)"></i></a>
  <a href="https://twitter.com/DivyakshiSaw" style="color: 	#1DA1F2;"><i class="fab fa-twitter me-4"
      style="transform: rotate(+100deg);"></i></a>
</div>

<div class="floating_btn">
  <a target="_blank" href="https://wa.me/8850855244">
    <div class="contact_icon">

      <i class="fa-brands fa-whatsapp"></i>
    </div>
  </a>
  <p class="text_icon">Talk to us?</p>
</div>
  <div><app-footer></app-footer></div>



  