<span><br><br><br><br></span>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <mat-toolbar class="footer row" >
                <div align="center">
                    <h6>&copy; 2023 Divyakshi Pvt. Ltd - All Rights Reserved</h6>
                       
                        <h6 class="footer1">Website Desingned & Developed By <a href="https://vikas-sahu.netlify.app/" style="color: #e58d41; text-decoration: none;">Vikas Sahu & Susheel Gupta</a> </h6>
                </div>
                        
            </mat-toolbar></div>
        </div>
    </div>
